<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
 
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
 
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">
  <link rel="icon" href="images/login_kanban_image.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/style.css">
  <title>Kanban-Do - your board, your way.</title>
  
</head>
 
<body>
   <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
                <h3>Menu</h3>
            </div>
    
            <ul class="list-unstyled components">
                <li> <a id="" href="/perfil">Meu perfil</a></li>
                <li>
                    <div class="sidebar-header">
                        <h4>Meus quadros</h4>
                    </div>
                </li>
                <% for(let i = 0; i < boards.length; i++) {%>
                    <li><a id="<%= boards[i].ID%>" href="/index?ID=<%= boards[i].ID %>"><%= boards[i].name %></a></li>
                <% } %>
            </ul>
            <div class="sidebar-header">
                <button type="button" id="newBoard" class="btn btn-info" data-toggle="modal" data-target="#modalAddBoard">Criar quadro
                </button>
            </div>
        </nav>
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="width: 100px;">
                            <span class="glyphicon glyphicon-menu-hamburger"></span> Menu
                    </button>

                    <div style="float: right;">
                            <a class="navbar-brand" href="#" style="color: #6d7fcc">Kanban-Do</a>
                    </div>
                </div>  
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12" id="img_div">
                        <h1>Meus quadros</h1>
                    </div>
                    <div class="col-md-6 col-xs-12" id="cadastro_div">
                        <h1>Gerenciar conta</h1>
                    </div>                
                </div>
            </div> 
    </div>

     <!-- ADD NEW BOARD MODAL -->

  <div class="modal fade newCards" id="modalAddBoard" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Criar quadro</h3>
                    <span class="close" data-dismiss="modal">&times;</span>    
                </div>
                <div class="modal-body">
                        <form class="form-horizontal" action="index/salvarBoard" method="POST">    
                            <div class="form-group">
                                <label class="col-form-label col-sm-2" for="name">Título:</label>
                                <div class="col-xs-12">
                                    <input name="name" id="name" class="form-control" type="text">
                                </div>

                                <label class="col-form-label col-md-12" for="first_column">Primeira coluna:</label>
                                <div class="col-xs-12">
                                    <input name="first_column" id="first_column" class="form-control" type="text">
                                </div>

                                <label class="col-form-label col-md-12" for="second_column">Segunda coluna:</label>
                                <div class="col-xs-12">
                                    <input name="second_column" id="second_column" class="form-control" type="text">
                                </div>

                                <label class="col-form-label col-md-12" for="third_column">Terceira coluna:</label>
                                <div class="col-xs-12">
                                    <input name="third_column" id="third_column" class="form-control" type="text">
                                </div>
                            </div>
                            <input type="submit" name="add1" id='add1' value="Criar!" class="btn btn-primary">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </form>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>              
        </div>
    </div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/scripts/script.js"></script>
</body>
</html>