<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<title>Conteudo Programático</title>
</head>
<body>
	<h1>Conteúdo Programático</h1>
	<table>
		<tr>
			<td>Id</td>
			<td>Data</td>
			<td>Conteúdo</td>
		</tr>
		<% for(let i=0; i<conteudo.length; i++) {%>
		<tr>
			<td><%= conteudo[i].idconteudoprogramatico %></td>
			<td><%= conteudo[i].data %></td>
			<td><%= conteudo[i].conteudo %></td>
		</tr>
		<% } %>
	</table>

</body>

</html>