<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
 
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
 
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">
  <link rel="icon" href="images/login_kanban_image.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Kanban-Do - your board, your way.</title>
  
</head>
 
<body>
  <div class="wrapper"> 
    <nav id="sidebar">
        <div class="sidebar-header">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
            <h3>Menu</h3>
            <br>
            <h4>Boards</h4>
        </div>

        <ul class="list-unstyled components">
          <% for(let i=0; i<conteudo.length; i++) {%>
            <% var obj = conteudo[i]; %>
            <% for (var key in obj){%>
            <li><a href=""><%= key.name%></a></li>
          <% } %>
          <% } %>
          <li class="active"></li>
        </ul>
        <div class="sidebar-header">
            <button type="button" id="newBoard" class="btn btn-info" data-toggle="modal" data-target="#modalAddBoard">
                <span class="glyphicon glyphicon-plus"></span> Criar quadro
            </button>
        </div>
    </nav>
    <div id="content">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
               <button type="button" id="sidebarCollapse" class="btn btn-info" style="width: 100px;">
               <span class="glyphicon glyphicon-menu-hamburger"></span> Menu
               </button>
               <div style="float: right;">
                  <a class="navbar-brand" href="index.php" style="color: #6d7fcc">Kanban-Do</a>
               </div>
            </div>
         </nav>
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-xs-12 header_coluna">
                  <h1>QUADRO</h1>
               </div>
               <div class="col-md-3 col-xs-12 header_coluna">
                  <div class="titulo_coluna">
                     <h1>TESTE1</h1>
                     <button type="button" class="btn btn-default btn-lg addButton" data-toggle="modal" data-target="#modalAddCard1">
                     <a>+</a>
                     </button>
                  </div>
                  <div class="corpo_coluna" style="border: 2px solid rgb(255, 109, 85); background-color: rgb(255, 109, 85);">
                     <ul id="lista1">   
                        <p>TESTE1</p>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 header_coluna">
                  <div class="titulo_coluna">
                     <h1>TESTE2</h1>
                     <button type="button" class="btn btn-default btn-lg addButton" data-toggle="modal" data-target="#modalAddCard2">
                     <a>+</a>
                     </button>
                  </div>
                  <div class="corpo_coluna" style="border: 2px solid rgb(0, 193, 236); background-color: rgb(0, 193, 236);">
                     <ul id="lista2">
                        <p>TESTE2</p>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 header_coluna">
                  <div class="titulo_coluna">
                     <h1>TESTE 3</h1>
                     <button type="button" class="btn btn-default btn-lg addButton" data-toggle="modal" data-target="#modalAddCard3">
                     <a>+</a>
                     </button>
                  </div>
                  <div class="corpo_coluna" style="border: 2px solid rgb(0, 222, 62); background-color: rgb(0, 222, 62);">
                     <ul id="lista3">
                        <p>TESTE3</p>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

  <!-- ADD NEW BOARD MODAL -->

  <div class="modal fade newCards" id="modalAddBoard" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Criar quadro</h3>
                    <span class="close" data-dismiss="modal">&times;</span>    
                </div>
                <div class="modal-body">
                        <form class="form-horizontal" action="index/salvarBoard" method="POST">    
                            <div class="form-group">
                                <label class="col-form-label col-sm-2" for="name">Título:</label>
                                <div class="col-xs-12">
                                    <input name="name" id="name" class="form-control" type="text">
                                </div>

                                <label class="col-form-label col-md-12" for="first_column">Primeira coluna:</label>
                                <div class="col-xs-12">
                                    <input name="first_column" id="first_column" class="form-control" type="text">
                                </div>

                                <label class="col-form-label col-md-12" for="second_column">Segunda coluna:</label>
                                <div class="col-xs-12">
                                    <input name="second_column" id="second_column" class="form-control" type="text">
                                </div>

                                <label class="col-form-label col-md-12" for="third_column">Terceira coluna:</label>
                                <div class="col-xs-12">
                                    <input name="third_column" id="third_column" class="form-control" type="text">
                                </div>
                            </div>
                            <input type="submit" name="add1" id='add1' value="Criar!" class="btn btn-primary">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </form>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>              
        </div>
    </div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="/scripts/script.js"></script>
</body>
</html>