<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portal da Disciplina DSW</title>
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
	<section class="container">
		<section class="row">
			<h1 class="text-center">Bem vindo a página inicial da disciplina</h1>
			<h2 class="text-center">DSW - Desenvolvimento de Sistemas Web</h2>
			<img class="text-center" src="/images/logo.png" />
		</section>
		<section class="row">
			<a href="http://localhost:3000/estudantes">Listar Estudantes</a><br />
			<a href="http://localhost:3000/estudante/inserir">Insere Estudante</a><br /><br />
			<a href="http://localhost:3000/conteudoprogramatico">Listar Conteudo Programatico</a><br />
			<a href="http://localhost:3000/insere-conteudo">Inserir Conteúdo Programático</a><br />
		</section>
	</section>

</body>

</html>